doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Portfolio
    meta(name="description" content="Portfolio")
    include ../includes/_metaAuthor.pug
    include ../includes/_styleDeps.pug
    block styles
  body
    .container-fluid
      .row
        .col-lg-12
          h1.display-1= locals.application.name
      .row  
        .col-lg-12
          h4= locals.application.subHeading
          h5.text-muted= locals.application.description
          hr
      include ../includes/_navigation.pug
      hr
      block content
      
    block footer
    include ../includes/_jsDeps.pug
    block scripts