doctype html
html(lang="en")
  head
    include ../includes/_head.pug
    block styles
  body
    include ../includes/_navigation.pug
    #mainContainer.container-fluid.pt-4.mt-5
      .row
        .col-lg-12
          h2#pageHeading.display-4=htmlWebpackPlugin.options.locals.application.name
      .row
        .col-lg-12
          p#pageSubHeading=htmlWebpackPlugin.options.locals.application.subHeading
          p#pageDescription.text-muted=htmlWebpackPlugin.options.locals.application.description
          hr
      block content
      block footer
    include ../includes/_footer.pug
    block scripts