doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Portfolio
    meta(name="description" content="Portfolio")
    include ../includes/_metaAuthor.pug
    include ../includes/_styleDeps.pug
    block styles
  body
    block content
    .container-fluid
      include ../includes/_navigation.pug
    block footer
    include ../includes/_jsDeps.pug
    block scripts