doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Portfolio
    meta(name="description" content="Portfolio")
    include ../includes/_metaAuthor.pug
    include ../includes/_styleDeps.pug
    block styles
  body
    .container-fluid
      h1.display-1= locals.application.name
      h3= locals.application.subHeading
        small.text-muted= " " + locals.application.description
      if (locals.application.repoUrl !== undefined)
        p Repository url:
          a(href=locals.config.repoRootUrl+locals.application.repoUrl, target="_blank")= " " + locals.config.repoRootUrl+locals.application.repoUrl
      hr
      block content
      include ../includes/_navigation.pug
    block footer
    include ../includes/_jsDeps.pug
    block scripts