doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    include ../includes/_head.pug
    block styles
  body#body
    block content
    block footer
    include ../includes/_cookieBanner.pug
    block scripts