doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Portfolio
    meta(name="description" content="Portfolio")
    include ../includes/_metaAuthor.pug
    block styles
  body#body
    block content
    block footer
    block scripts