extends ../../pug/layouts/main.pug

block styles
  // build:css css/styles.css
  link(rel="stylesheet" href="css/styles.css")
  // endbuild

block content
  .container-fluid
      h1.display-1= locals.application.name
      h3 Fabio Sereno 
        small.text-muted Software Developer  
      h6
        | Applications
      
      if locals.config.applications.length > 0
        ul
          each application, index in locals.config.applications
            if application.active !== false && application.include !== false
              li
                a(href="../"+locals.config.prefix+application.folder+"/index.html")= application.name     
block scripts
  // build:js js/app.js
  script(src="js/app.js")
  // endbuild
  // build:js js/vendor.js
  // endbuild