extends ../../pug/layouts/main.pug

block styles
  // build:css css/styles.css
  link(rel="stylesheet" href="css/styles.css")
  // endbuild

block content
      h2 Applications
      if locals.config.applications.length > 0
          .row.mt-3
            each application, index in locals.config.applications
              if application.active !== false && application.include !== false
                .col-sm-6.col-md-3.mb-4
                  .card.shadow-sm.p-3.bg-white.rounded.min-height-160
                    .card-body
                      .row
                        .col-12
                          h5.card-title= application.name
                      .row
                        .col-lg-4.col-md-12
                          a.card-link.badge.badge-secondary(href="../"+locals.config.prefix+application.folder+"/index.html") 
                            | View
                            i.fa.fa-eye.ml-2
                        .col-lg-4.col-md-12
                          a.card-link.badge.badge-secondary(href=locals.config.repoRootUrl+locals.config.folderRoot+locals.config.prefix+application.folder, target="_blank")
                            | View on Github
                            i.fa.fa-github-square.ml-2

block scripts
  // build:js js/app.js
  script(src="js/app.js")
  // endbuild
  // build:js js/vendor.js
  // endbuild