extends ../../pug/layouts/main.pug

block styles
  // build:css css/styles.css
  link(rel="stylesheet" href="css/styles.css")
  // endbuild

block content
  .container-fluid
      h1.display-1= locals.application.name
      h4
        | Applications
      ul
        each application, index in locals.config.applications
          if application.folder !== locals.config.entry && application.folder !== locals.config.masterTemplateDir
            li
              a(href="../"+locals.config.prefix+application.folder+"/index.html")= application.name     
block scripts
  // build:js js/app.js
  script(src="js/app.js")
  // endbuild
  // build:js js/vendor.js
  // endbuild