@import "../../sass/includes/colours.scss";
@import "../../sass/includes/constants.scss";

#navBar {
  top: -60px;
  -webkit-transition: top .4s ease-out;
  -moz-transition: top .4s ease-out;
  -o-transition: top .4s ease-out;
  transition: top .4s ease-out;
  &.scroll-down {
      top: 0px;
  }
}

#result, #app {
  .card-columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    .card {
      transition: box-shadow .5s;
      &:hover  {
        box-shadow: var(--bs-box-shadow) !important;
      }
    }
  }

  #introContainer {
    color: $white;
    #introContent {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      #canvasContainer {
        width: 100vw;
        height: 100vh;
      }
      #introContentInner {
        position: absolute;
        top: 20%;
        height: 100%;
        pointer-events: none;
        #introImage {
          img {
            height: 25vh;
          }
        }
        #introHeadings {
          h4.sub-heading {
            font-size: 2rem;
          }
        }
        #btnContainer {
          position: absolute;
          width: 100%;
          top: 55vh;
          button {
            pointer-events: all;
          }
        }
      }
    }
  }
  #contentContainer {
    min-height: 100vh;
  }
}

@media only screen and (min-width: $large) {
  #result {
    .card-columns {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media only screen and (min-width: $medium) {
  #result {
    .card-columns {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media only screen and (min-width: $large) {
  #result {
    .card-columns {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}