@import "../../sass/includes/colours.scss";
@import "../../sass/includes/styles.scss";

#applicationsContainer.card-columns {
  .card {
    transition: 0.4s;
    &:hover {
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1) !important;
    }
  }
}

#searchBar {
  .form-control {
    border-right:none;
    &:focus {
      border: 1px solid $darkGrey;
      border-right:none;
      box-shadow: none;
    }
  }
  span.input-group-text {
    background: $darkGrey;
    i {
      color: $white;
    }
  }
  #cancelBtn {
    button {
      border-top: 1px solid $darkGrey;
      border-bottom: 1px solid $darkGrey;
      border-right: 1px solid #fff;
      background:transparent;
      &:focus {
        box-shadow: none;
      }
    }
  }
}