.link.home {
  padding: 20px 0;
  display: block; }

.error {
  color: red; }

span#result {
  font-weight: 100;
  border: 1px solid #ced4da;
  padding: .375rem .75rem;
  border-radius: .25rem; }

body h1 {
  color: red; }
