@import "../../../../sass/includes/colours.scss";

.searchBar {
    .form-control.searchInput {
      padding: 1rem;
      border: 1px solid $darkGrey;
      border-right:none;
      &.no-show-clear, &.no-show-clear:focus{
        border-right:1px solid;
      }
      &:focus {
        border-right:none;
        box-shadow: none;
      }
    }
    span.input-group-text {
      background: $darkGrey;
      i {
        color: $white;
      }
    }
    .openFilterBtn {
      border-left: 1px solid $real-white;
      color: $real-white;
      background: $darkGrey;
      border: none;
      &:focus {
        box-shadow: none;
      }
    }
    .cancelBtn {
      background: $real-white;
      button {
        border: none;
        background:$real-white;
        height: 50px;
        padding: 0 1.5rem;
        &:focus {
          box-shadow: none;
        }
        &.no-quick-filters {
          border-right: 1px solid $darkGrey;
        }
        .lr {
          height: 30px;
          width: 1px;
          transform: rotate(45deg);
          display: block;
          background: $darkGrey;
          .rl {
              height: 30px;
              width: 1px;
              transform: rotate(90deg);
              display: block;
              background: $darkGrey
          }
        }
      }
    }
  }