@import "../../../../sass/includes/colours.scss";
@import "../../../../sass/includes/constants.scss";

.searchBar {
    border-radius: $border-radius;
    .form-control.searchInput {
      padding: 1rem;
      border: 1px solid $darkGrey;
      border-right:none;
      &:focus {
        border-right:none;
        box-shadow: none;
      }
      &.no-show-clear {
        border-right: 1px solid $darkGrey;
      }
    }
    .openFilterBtn {
      border-radius: 0 $border-radius $border-radius 0;
      padding: 0;
      button {
        border-radius: 0 $border-radius $border-radius 0;
        border-left: 1px solid $real-white;
        color: $real-white;
        background: $darkGrey;
        border: none;
        width: 50px;
        height: 100%;
        &:focus, &:hover {
          box-shadow: none;
          background: $lightGrey;
        }
      }
    }
    .cancelBtn {
      background: $real-white;
      border-right: none;
      border-left: none;
      margin: 0;
      &.no-quick-filters {
        border-right: 1px solid $darkGrey;
      }
      button {
        border: none;
        background:$real-white;
        padding: 0 1.5rem;
        &:focus {
          box-shadow: none;
        }
        .lr {
          height: 30px;
          width: 1px;
          transform: rotate(45deg);
          display: block;
          background: $darkGrey;
          .rl {
              height: 30px;
              width: 1px;
              transform: rotate(90deg);
              display: block;
              background: $darkGrey
          }
        }
      }
    }
  }