@import "../../sass/includes/colours.scss";
@import "../../sass/includes/constants.scss";

body {
    table#employeeTable {
        th {
            height: 3.7rem;
            line-height: 2.1rem;
        }
    }

    #salaryInput {
        border-radius: 0 $border-radius $border-radius 0;
    }
}