- var nodeDirectory = locals.application.useRoot ? "node_modules" : "../../node_modules";
// build:js ../js/vendor.js
script(src=nodeDirectory+"/jquery/dist/jquery.min.js")
script(src=nodeDirectory+"/bootstrap/dist/js/bootstrap.bundle.min.js")
script(src=nodeDirectory+"/jquery-validation/dist/jquery.validate.min.js")
// endbuild