- var directory = locals.application.useRoot ? "../" : "../../";
script(src=directory+"node_modules/jquery/dist/jquery.min.js")
script(src=directory+"node_modules/bootstrap/dist/js/bootstrap.bundle.min.js")
script(src=directory+"node_modules/jquery-validation/dist/jquery.validate.min.js")