- var directory = locals.application.useRoot ? "./" : "../";
meta(name="author" content=locals.config.author)
meta(property="og:image" content=directory+"images/"+locals.config.thumbnail)
link(rel='icon' href=directory+'favicon.ico' type='image/x-icon')