if locals.config.prefix+locals.application.folder !== locals.config.prefix+locals.config.entry
  .row
    .col-md-2
      a(class="link home", href="../"+locals.config.prefix+locals.config.entry+"/index.html") Back Home