if locals.appConfig.prefix+locals.application.folder !== locals.appConfig.prefix+locals.appConfig.entry
  a(class="link home", href="../"+locals.appConfig.prefix+locals.appConfig.entry+"/index.html") Back Home