- var nodeDirectory = locals.application.useRoot ? "node_modules" : "../../node_modules";
// build:css ../css/vendor.css
link(
    rel="stylesheet"
    href=nodeDirectory+"/bootstrap/dist/css/bootstrap.min.css")
link(
    rel="stylesheet"
    href=nodeDirectory+"/font-awesome/css/font-awesome.min.css")
// endbuild