- var directory = locals.application.useRoot ? "../" : "../../";
link(
    rel="stylesheet"
    href=directory+"node_modules/bootstrap/dist/css/bootstrap.min.css")
link(
    rel="stylesheet"
    href=directory+"node_modules/font-awesome/css/font-awesome.min.css")