extends ../../pug/layouts/main2.pug

block styles
  link(rel="stylesheet" href="js/main.css")

block content
    div#result
      .row.splitter
        .col-lg-4
              h3 Result:
              ul#toDoList.list-group
                li(class="list-group-item d-flex justify-content-between align-items-center", v-for="(item, index) in items")
                  span {{ item }}
                  a(href="#", class="badge badge-danger delete", v-on:click="deleteItem", :data-index="index") Delete
      .row.splitter
        .col-lg-12
          p Items:
            span {{ counter}}
          p Item to add:
            span {{ name }}
      .row
        .col-lg-4
          form#inputForm(autoComplete="off")
            .form-group
              label(for="input") Input
              input#itemInput.form-control(
                name="itemInput",
                type="text",
                placeholder="Add to list...",
                required,
                v-model="name")

            button#submit.btn.btn-dark(type="button", v-on:click="addItem") Add item

block scripts
  script(src="js/main.js")