@import "../../sass/includes/colours.scss";
@import "../../sass/includes/styles.scss";

body {

    margin: 0;
    height: 100vh;

    h1 {
        color: $black;
    }

}

canvas {
    display: block;
}