@import "../../sass/includes/colours.scss";

.status {
  margin-bottom: 10px;
}

.border-row {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid $black;
  border-top: none;
  border-left: none;
}

.square {
  background: $darkGrey;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  padding: 0;
  text-align: center;
  flex-basis: 33.33%;
  height: 100px;
  border: 1px solid $white;
  border-radius: 0;
  border-bottom: none;
  border-right: none;
  outline: none;
  box-shadow: none;
}

.square.btn-dark:focus, .square.btn-dark:hover, .square.btn-dark:active, .square.btn-dark:not(:disabled):not(.disabled):active {
  outline: none;
  border: 1px solid $white;
  border-bottom: none;
  border-right: none;
  box-shadow: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.game {
  display: flex;
}

.game-info {
  margin-left: 20px;
  flex: 1;
}