extends ../../pug/layouts/main.pug

block styles
  // build:css css/styles.css
  link(rel="stylesheet" href="css/styles.css")
  // endbuild

block content
  p Compatible with any WebXR enabled browser and any WebXR enabled VR headset.
  p Click below to launch the AFrame scene.
  a(class="btn btn-dark", href="scene.html") Launch scene