extends ../../pug/layouts/main2.pug

block styles
  link(rel="stylesheet" href="js/main.css")

block content
  p Compatible with any WebXR enabled browser and any WebXR enabled VR headset.
  p Click below to launch the AFrame scene.
  a(class="btn btn-dark", href="scene.html") Launch scene

block scripts
  script(src="js/main.js")