extends ../../pug/layouts/main.pug

block styles
  // build:css css/styles.css
  link(rel="stylesheet" href="css/styles.css")
  // endbuild

block content
      .row.splitter
        .col-lg-12
          a(class="btn btn-success", href="scene.html")
            | Load VR Scene