extends ../../pug/layouts/main.pug

block styles
  // build:css css/styles.css
  link(rel="stylesheet" href="css/styles.css")
  // endbuild

block content
  div.d-flex
    i.fa.fa-lg.fa-coffee.mr-3
    p.lead 
      | Think about how a hot drink is made.
      | The order of tasks is considered "common sense".
      | Typically tasks are carried out while the kettle is boiling.
      | Making a coffee synchronously makes little sense.
      | Run the process of making a cup of coffee both synchronously and asynchronously.
      | Notice the difference in the order of tasks ?
  div#result.mt-2

block scripts
  // build:js js/app.js
  script(src="js/app.js")
  // endbuild