doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Portfolio
    meta(name="description" content="Portfolio")
    include views/includes/_metaAuthor.pug
    include views/includes/_styleDeps.pug
  body
    .container-fluid
      h1.display-1
        | Portfolio
        small.text-muted index.html
    include views/includes/_jsDeps.pug
    // build:js js/app.js
    script(src="js/application.js")
    // endbuild
