extends ../pug/views/layouts/main.pug

block styles
  // build:css css/styles.css
  link(rel="stylesheet" href="css/colours.css")
  // endbuild

block content
  .container-fluid
      h1.display-1
        | Portfolio
        small.text-muted test.html

block scripts
  // build:js js/test/app.js
  script(src="js/test/app.js")
  // endbuild