@model HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Persons</h2>
        <ul>
            @foreach (var person in Model.Persons)
            {
                <li>ID: @person.Id, Name: @person.Name, Age: @person.Age.ToString()</li>
            }
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <form asp-controller="Home" asp-action="Update" id="personForm">
            <div class="form-group">
                <label for="id">Id</label>
                <input type="number" id="id" name="id" class="form-control" placeholder="Id..." required />
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Name..." required/>
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <input type="number" id="age" name="age" class="form-control" placeholder="Age..." required/>
            </div>
            <div class="form-group">
                <button class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {

    <script src="~/js/index.js"></script>

}