extends ../../pug/layouts/raw.pug

block styles
  // build:js js/vendor.js
  script(src="https://aframe.io/releases/1.0.3/aframe.min.js")
  script(src="../../node_modules/aframe-cursor-teleport-component/dist/aframe-cursor-teleport-component.min.js")
  script(src="../../node_modules/aframe-teleport-controls/dist/aframe-teleport-controls.min.js")
  // endbuild
  // build:css css/styles.css
  link(rel="stylesheet" href="css/styles.css")
  // endbuild

block scripts
  // build:js js/app.js
  script(src="js/app.js")
  // endbuild