extends ../../pug/layouts/main.pug

block styles
  // build:css css/styles.css
  link(rel="stylesheet" href="css/styles.css")
  // endbuild

block content
  .container-fluid
      h1.display-1
        | Portfolio
      h4
        | Applications
      ul
        each application, index in locals.applications
          li
            a(href="../"+locals.prefix+application.folder+"/index.html")= application.name

block scripts
  // build:js js/app.js
  script(src="js/app.js")
  // endbuild
  // build:js js/vendor.js
  // endbuild