/*!************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./app/app_home/sass/styles.scss ***!
  \************************************************************************************************************************/
#navBar {
  top: -60px;
  -webkit-transition: top 0.4s ease-out;
  -moz-transition: top 0.4s ease-out;
  -o-transition: top 0.4s ease-out;
  transition: top 0.4s ease-out;
}
#navBar.scroll-down {
  top: 0px;
}

#result #searchBar .form-control, #app #searchBar .form-control {
  border-right: none;
}
#result #searchBar .form-control:focus, #app #searchBar .form-control:focus {
  border: 1px solid #343a40;
  border-right: none;
  box-shadow: none;
}
#result #searchBar span.input-group-text, #app #searchBar span.input-group-text {
  background: #343a40;
}
#result #searchBar span.input-group-text i, #app #searchBar span.input-group-text i {
  color: #F5F5F5;
}
#result #searchBar #openFilterBtn, #app #searchBar #openFilterBtn {
  border-left: 1px solid #fff;
}
#result #searchBar #openFilterBtn:focus, #app #searchBar #openFilterBtn:focus {
  box-shadow: none;
}
#result #searchBar #cancelBtn button, #app #searchBar #cancelBtn button {
  border-top: 1px solid #343a40;
  border-bottom: 1px solid #343a40;
  border-right: 1px solid #fff;
  background: transparent;
  height: 50px;
  padding: 0 1.5rem;
}
#result #searchBar #cancelBtn button:focus, #app #searchBar #cancelBtn button:focus {
  box-shadow: none;
}
#result #searchBar #cancelBtn button .lr, #app #searchBar #cancelBtn button .lr {
  height: 30px;
  width: 1px;
  transform: rotate(45deg);
  display: block;
  background: #343a40;
}
#result #searchBar #cancelBtn button .lr .rl, #app #searchBar #cancelBtn button .lr .rl {
  height: 30px;
  width: 1px;
  transform: rotate(90deg);
  display: block;
  background: #343a40;
}
#result #introContainer, #app #introContainer {
  color: #F5F5F5;
}
#result #introContainer #introContent, #app #introContainer #introContent {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#result #introContainer #introContent #canvasContainer, #app #introContainer #introContent #canvasContainer {
  width: 100vw;
  height: 100vh;
}
#result #introContainer #introContent #introContentInner, #app #introContainer #introContent #introContentInner {
  position: absolute;
  top: 20%;
  height: 100%;
  pointer-events: none;
}
#result #introContainer #introContent #introContentInner #introImage img, #app #introContainer #introContent #introContentInner #introImage img {
  height: 25vh;
}
#result #introContainer #introContent #introContentInner #introHeadings h4.sub-heading, #app #introContainer #introContent #introContentInner #introHeadings h4.sub-heading {
  font-size: 2rem;
}
#result #introContainer #introContent #introContentInner #btnContainer, #app #introContainer #introContent #introContentInner #btnContainer {
  position: absolute;
  width: 100%;
  top: 55vh;
}
#result #introContainer #introContent #introContentInner #btnContainer button, #app #introContainer #introContent #introContentInner #btnContainer button {
  pointer-events: all;
}
#result #contentContainer, #app #contentContainer {
  min-height: 100vh;
}
