$large: 1200px;
$medium: 991px;

@media screen and (max-width: $medium) {
    .navbar {
        &.fixed-top {
            .dropdown-menu {
                max-height: 50vh;
            }
        }
        .navbar-nav .nav-link {
            padding-bottom: 2rem;
            padding-top: 1.5rem;
        }
    }
}