@import "./constants.scss";

@media screen and (max-width: $medium) {
    .navbar {
        .navbar-nav .nav-link {
            padding-bottom: 2rem;
            padding-top: 1.5rem;
        }
    }

    #pageHeading {
        font-size: 2rem;
    }
    #pageSubHeading, #pageDescription{
        font-size: 1rem;
    }
}