.link {
    &.home {
        padding:20px 0;
        display: block;
    }
}
.navbar {
    padding: 0 0.3em;
    &.fixed-top {
        .dropdown-menu {
            max-height: 90vh;
            overflow-y: scroll;
        }
    }
    .dropdown-menu {
        min-width: 380px;
        .dropdown-item {
            padding: 1rem 1.5rem;
            white-space: pre-wrap;
            &.active, &:active {
                background-color: $darkGrey;
            }
        }
    }
    .navbar-toggler-icon {
        hr {
            border-color: $white;
            margin: .3rem auto .5rem
        }
    }
    .nav-link {
        padding-left: 1rem;
        &.dropdown-toggle::after {
            margin-left: .5rem;
        }
    }
    a.navbar-brand {
        margin-right:0;
        img {
            width: 50px;
        }
    }
    #titleHeading {
        font-size: 1.5rem;
    }
    #titleSubHeading {
        line-height: 20px;
    }
    #navbarImage {
        margin: 0 .25rem 0 0;
    }
}