@import "./colours.scss";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $darkGrey;
  opacity: 0.5;
  z-index: 2;
  cursor: pointer;
}

#loader {
  position: fixed;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -45%);
  -webkit-transform: translate(-50%, -45%);
  -moz-transform:    translate(-50%, -45%);
  z-index: 3;
}

.loading {
  $duration: 0.7s;
  $size: 1.5em;
  background: $darkGrey;
  border-radius: 100%;
  padding: calc($size / 8) calc($size / 8) 0;
  width:2.5rem;
  height:2.5rem;
  .spinner * {
    box-sizing: border-box;
  }
  .spinner {
    position: relative;
    top: 12%;
    left: 15%;
    display: inline-block;
    animation-name: anim-spinner;
    animation-duration: $duration;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    .circle {
      width: $size;
      height: calc($size / 2);
      overflow: hidden;
    }
    .circle-inner {
      transform: rotate(45deg);
      border-radius: 50%;
      border: calc($size / 8) solid $blue;
      border-right: calc($size / 8) solid transparent;
      border-bottom: calc($size / 8) solid transparent;
      width: 100%;
      height: 200%;
      animation-name: anim-circle-1;
      animation-duration: $duration;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: cubic-bezier(0.25, 0.1, 0.5, 1);
    }
    .circle-2 {
      transform: rotate(180deg);
      & .circle-inner {
        animation-name: anim-circle-2;
      }
    }
    @keyframes anim-circle-1 {
      from {
        transform: rotate(60deg);
      }
      to {
        transform: rotate(205deg);
      }
    }
    @keyframes anim-circle-2 {
      from {
        transform: rotate(30deg);
      }
      to {
        transform: rotate(-115deg);
      }
    }
    @keyframes anim-spinner {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}