@import "./colours.scss";

.link {
    &.home {
        padding:20px 0;
        display: block;
    }
}


.error {

    color: $red;

}

span#result {

    font-weight: 100;
    padding: .375rem .75rem;
    border-radius: .25rem;
    line-height: 1em;

}

.row.splitter {

    margin-bottom: .75rem;

}

.navbar {

    padding: 0 0.3em;

    a.navbar-brand {

        img {

            width: 50px;

        }

    }
}