@import "./colours.scss";
@import "./mediaQueries.scss";
@import "./navbar.scss";
@import "./loader.scss";
@import "./theme.scss";
@import "./footer.scss";

.error {
    color: $red;
}

span#result, .result {
    font-weight: 100;
    padding: .375rem .75rem;
    border-radius: .25rem;
    line-height: 1em;
}

.row.splitter {
    margin-bottom: .75rem;
}

.min-height-160 {
    min-height: 160px;
}