@import "./colours.scss";

@mixin borderMixin {
    border: 1px solid $darkGrey;
}

.form-control {
    @include borderMixin;
}

.input-group-text {
    @include borderMixin;
}

.card {
    @include borderMixin;
}

.list-group-item {
    @include borderMixin;
}

.input-group-text {
    background: $darkGrey;
    color: $white;
}